body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f53030;
   
}

header {
    text-align: center;
    padding: 24px;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    max-width: 1000px;
    margin: 20px auto; 

}

.card {
    flex: 1;
    background-color: #701515;
    border: 1px solid #ccc;
    padding: 20px;

}

.card h2 {
    margin-top: 0;
    color: black;
}
